/* custom styles */

.topbar {
	height: 24px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 16px;
	overflow: visible;
	background-color: #f3f3f3;
	border-bottom: 1px solid #ccc;
	text-align: right;
}

.topbar > .left {
	float: left;
	position: absolute;
	top: 4px;
}

a.topbar_link {
	color: #333333;
	text-shadow: -1px -1px 0px #fff;
}

a.topbar_link:hover {
	color: #4183c4;
}

.footer {
	text-align: right;
	height: 110px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.footer > .left {
	float: left;
}

ul {
	list-style: none;
}

.hashtag > .logo {
	height: 80px;
}